html,
body,
.index-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  background-color: #eee;
}

.contexts-menu {
  width: 100%;
  padding: 0.2em;
}

.scraps-menu {
  width: 100%;
  padding: 0.2em;
}

.editable {
  min-height: 50px;
  margin: 80px;
}

.editable:focus {
  outline: none;
}

.header {
  padding-top: 15px;
  border-bottom: 1px dotted #9a9a9a;
}