<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/img/favicon.png"/>

    <title>Scraps</title>

    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/medium-editor.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Inconsolata|Open+Sans" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/medium-editor.min.css" rel="stylesheet"/>
    <link href="/css/themes/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/index.css?v=29" rel="stylesheet"/>
</head>
<body>

<div class="index-container">
    <div class="contexts-menu">
        <div class="close-menu">
            <a id="contextsMenuCloseBtn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
        <div id="contextButtonsWrapper" class="btn-toolbar"></div>
    </div>

    <div class="scraps-menu">
        <div class="close-menu">
            <a id="scrapsMenuCloseBtn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
        <div id="scrapButtonsWrapper"></div>
    </div>

    <div class="index-buttons">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button id="contextsMenuBtn" type="button" class="btn btn-default" aria-label="Select Context"><span
                        class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                <button id="scrapsMenuBtn" type="button" class="btn btn-default" aria-label="Select Scrap"><span
                        class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="content">
            <div class="editable">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contextModal" tabindex="-1" role="dialog" aria-labelledby="contextModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="contextModalLabel">New context</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contextName"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="contextSaveBtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="scrapModal" tabindex="-1" role="dialog" aria-labelledby="scrapModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="scrapModalLabel">New scrap</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="scrapName"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="scrapSaveBtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/

$(function () {
    'use strict';

    var debug = function(value) {
        console.log(value);
    };

    var contexts = /*[[${contexts}]]*/ {};
    var activeContext = /*[[${activeContext}]]*/ {};
    var scraps = /*[[${scraps}]]*/ {};
    var activeScrap = /*[[${activeScrap}]]*/ {};

    var scrapEdit = null;
    var contextEdit = null;

    var toggleMenuClass = function(menuClass) {
        if ($('.'+menuClass).hasClass('show-menu')) {
            $('.'+menuClass).removeClass('show-menu');
        } else {
            $('.'+menuClass).addClass('show-menu');
        }
    };
    var hideMenuClass = function(menuClass) {
        $('.'+menuClass).removeClass('show-menu');
    };

    var initIndexButtons = function() {
        $('#contextsMenuBtn').click(function() {
            toggleMenuClass('contexts-menu');
        });
        $('#contextsMenuCloseBtn').click(function() {
            hideMenuClass('contexts-menu');
        });
        $('#scrapsMenuBtn').click(function() {
            toggleMenuClass('scraps-menu');
        });
        $('#scrapsMenuCloseBtn').click(function() {
            hideMenuClass('scraps-menu');
        });
        $('.content-wrap').click(function() {
            hideMenuClass('contexts-menu');
            hideMenuClass('scraps-menu');
            $('.editable').focus();
        });
    };

    initIndexButtons();

    var editor = new MediumEditor('.editable');
    editor.setContent(activeScrap.content);
    $('.editable').focus();

    var timer = null;
    editor.subscribe('editableInput', function() {
        if (timer != null) window.clearTimeout(timer);
        timer = window.setTimeout(saveContent, 2000);
    });

    var saveContent = function() {
        $.ajax({ url:'/saveScrap', type:"POST", data: {"scrap": activeScrap.id, "content": editor.getContent()}, success: function(data){ activeScrap = data; }});
        if (timer != null) window.clearTimeout(timer);
        debug('saved');
    };

    var createContext = function() {
        $('#contextName').val('');
        $('#contextModalLabel').html('New Context');
        $('#contextModal').modal('show');
    };
    $('#contextSaveBtn').click(function() {
        $('#contextModal').modal('hide');
        if (contextEdit != null) {
            $.ajax({ url:'/updateContext', type:"POST", data: {"context": contextEdit, "name": $('#contextName').val()}, success: function(data){
                $('#contextBtn'+data.id).html(data.name);
            }});
            contextEdit = null;
        } else {
            $.ajax({ url:'/createContext', type:"POST", data: {"name": $('#contextName').val()}, success: function(data){
                $('#contextBtn'+activeContext.id).removeClass('active');
                activeContext = data;
                addContextButton(activeContext);
                loadScraps();
            }});
        }
    });

    var loadContexts = function() {
        $.ajax({ url:'/loadContexts', type:"GET", success: function(data){
            contexts = data;
            initContextButtons();
            loadScraps();
        }});
    };

    var loadScraps = function() {
        $.ajax({ url:'/loadScraps', type:"GET", data: {"context": activeContext.id}, success: function(data){
            scraps = data;
            initScrapButtons();
            editor.setContent(activeScrap.content);
            $('.editable').focus();
        }});
    };

    var createScrap = function() {
        $('#scrapName').val('');
        $('#scrapModalLabel').html('New Scrap');
        $('#scrapModal').modal('show');
    };
    $('#scrapSaveBtn').click(function() {
        $('#scrapModal').modal('hide');
        if (scrapEdit != null) {
            $.ajax({ url:'/updateScrap', type:"POST", data: {"scrap": scrapEdit, "name": $('#scrapName').val()}, success: function(data){
                $('#scrapBtn'+data.id).html(data.name);
            }});
            scrapEdit = null;
        } else {
            $.ajax({ url:'/createScrap', type:"POST", data: {"context": activeContext.id, "name": $('#scrapName').val()}, success: function(data){
                $('#scrapBtn'+activeScrap.id).removeClass('active');
                activeScrap = data;
                addScrapButton(activeScrap);
                editor.setContent(activeScrap.content);
                $('.editable').focus();
            }});
        }
    });

    var addContextButton = function(context) {
        var btnHtml = '<div class="btn-group">'+
            '  <button type="button" class="btn btn-default '+(context.active?'active':'')+'" id="contextBtn'+context.id+'">'+context.name+'</button>'+
            '  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'+
            '    <span class="caret"></span>'+
            '    <span class="sr-only">Toggle Dropdown</span>'+
            '  </button>'+
            '  <ul class="dropdown-menu">'+
            '    <li><a id="contextBtnEdit'+context.id+'">Edit</a></li>'+
            '    <li><a id="contextBtnDelete'+context.id+'">Delete</a></li>'+
            '  </ul>'+
            '</div>';

        $('#contextButtonsWrapper').append(btnHtml);
        $('#contextBtn'+context.id).click(function() {
            var id = $(this).attr('id').replace("contextBtn", "");;
            $.ajax({ url:'/setActiveContext', type:"POST", data: {"context": id}, success: function(data){
                $('#contextBtn'+activeContext.id).removeClass('active');
                activeContext = data;
                $('#contextBtn'+activeContext.id).addClass('active');
                loadScraps();
            }});
        });
        $('#contextBtnEdit'+context.id).click(function() {
            var id = $(this).attr('id').replace("contextBtnEdit", "");
            var name = $('#contextBtn'+id).html();

            contextEdit = id;
            $('#contextName').val(name);
            $('#contextModalLabel').html('Edit Context');
            $('#contextModal').modal('show');
        });
        $('#contextBtnDelete'+context.id).click(function() {
            var id = $(this).attr('id').replace("contextBtnDelete", "");
            if (confirm('Sure to delete this?')) {
                $.ajax({ url:'/deleteContext', type:"POST", data: {"context": id}, success: function(data){
                    $('#contextBtnWrap'+data.id).remove();
                    loadContexts();
                }});
            }
        });
    };
    var initContextButtons = function() {
        $('#contextButtonsWrapper').html('');
        $('#contextButtonsWrapper').append('<button id="contextBtnNew" type="button" class="btn btn-primary">Add</button>');
        $('#contextBtnNew').click(function() {
            createContext();
        });
        for (var i=0; i<contexts.length; i++) {
            addContextButton(contexts[i]);
            if (contexts[i].active) activeContext = contexts[i];
        }
    };

    var addScrapButton = function(scrap) {
        var btnHtml = '<div id="scrapBtnWrap'+scrap.id+'" class="btn-toolbar scrap-nav-toolbar"><div class="btn-group">'+
            '  <button type="button" class="btn btn-default '+(scrap.active?'active':'')+'" id="scrapBtn'+scrap.id+'">'+scrap.name+'</button>'+
            '  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'+
            '    <span class="caret"></span>'+
            '    <span class="sr-only">Toggle Dropdown</span>'+
            '  </button>'+
            '  <ul class="dropdown-menu">'+
            '    <li><a id="scrapBtnEdit'+scrap.id+'">Edit</a></li>'+
            '    <li><a id="scrapBtnDelete'+scrap.id+'">Delete</a></li>'+
            '  </ul>'+
            '</div></div>';

        $('#scrapButtonsWrapper').append(btnHtml);
        $('#scrapBtn'+scrap.id).click(function() {
            var id = $(this).attr('id').replace("scrapBtn", "");
            $.ajax({ url:'/setActiveScrap', type:"POST", data: {"scrap": id}, success: function(data){
                $('#scrapBtn'+activeScrap.id).removeClass('active');
                activeScrap = data;
                $('#scrapBtn'+activeScrap.id).addClass('active');
                editor.setContent(activeScrap.content);
                $('.editable').focus();
            }});
        });
        $('#scrapBtnEdit'+scrap.id).click(function() {
            var id = $(this).attr('id').replace("scrapBtnEdit", "");
            var name = $('#scrapBtn'+id).html();

            scrapEdit = id;
            $('#scrapName').val(name);
            $('#scrapModalLabel').html('Edit Scrap');
            $('#scrapModal').modal('show');
        });
        $('#scrapBtnDelete'+scrap.id).click(function() {
            var id = $(this).attr('id').replace("scrapBtnDelete", "");
            if (confirm('Sure to delete this?')) {
                $.ajax({ url:'/deleteScrap', type:"POST", data: {"scrap": id}, success: function(data){
                    $('#scrapBtnWrap'+data.id).remove();
                    loadScraps();
                }});
            }
        });
    };
    var initScrapButtons = function() {
        $('#scrapButtonsWrapper').html('');
        $('#scrapButtonsWrapper').append('<div class="btn-toolbar scrap-nav-toolbar"><div class="btn-group"><button id="scrapBtnNew" type="button" class="btn btn-primary">Add</button></div></div></div>');
        $('#scrapBtnNew').click(function() {
            createScrap();
        });
        for (var i=0; i<scraps.length; i++) {
            addScrapButton(scraps[i]);
            if (scraps[i].active) activeScrap = scraps[i];
        }
    };

    initContextButtons();
    initScrapButtons();
});
/*]]>*/
</script>
</body>
</html>